name: Talk2Me         # default is root
channels:
- defaults
- conda-forge
- pytorch
dependencies:         # installed by conda
- librosa>=0.5.1
- matplotlib>=2.0.2
- numpy>=1.14.0
- scipy>=1.0.0
- tqdm
- python-sounddevice
- Unidecode
- inflect
- PyQt
- multiprocess
- numba=0.48
- pytorch
- PyAudio
- SpeechRecognition
- pip:                # installed by pip
  - webrtcvad
